<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>백그라운드에서도 지오펜스를 사용하기 위함입니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>앱 사용 중 위치를 사용합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>지오펜스를 사용하려면 위치 권한이 필요합니다.</string>
</dict>
</plist>
